html{
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc;
}
.header, .main{
    display: flex;
    justify-content: space-between;
}
/* .main{
    justify-content: baseline
}
.border{
    border: 1px solid blue; */
}
.content{
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.circles{
    width: 50%;
    height: 50%;
    background-color: none;
    position: relative;
}
.pink{
    background-color: rgba(247, 136, 167, 0.6);
    width: 200px;
    height: 200px;
    position: absolute;
    top: 10%;
    left: 10%;
    border: 2px solid red;
    border-radius: 50%;
}
.peach{
    background-color: rgba(247, 193, 162, 0.7);
    width: 300px;
    height: 300px;
    position: absolute;
    top: 30%;
    left: 40%;
    border: 2px solid red;
    border-radius: 50%;
}
.purple{
    background-color:rgba(207, 130, 213, 0.6);
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 60%;
    border: 2px solid red;
    border-radius: 50%;
}